


.has-text-color {
  color:  #E94B59;
}


 .has-background {
  background:  #E94B59;

}


 .has-white-color {
  color: #FFFFFF;

}

.has-black-color {

color: #111111;

}

.has-black-background-color {

background:#111111;

}

.has-white-background-color {
  background: #FFFFFF;
}

.has-strong-magenta-color {
color: #6128A1;

}

 .has-strong-magenta-background-color {
   background: #6128A1;

}
